# Ignore Mac system files
.DS_Store

# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore build directory
build/

# Ignore environment files
.env

# Ignore all .zip files
*.zip
